@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

html * {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-image: url("computer.jpg");
  background-color: #EAFFFF;
  font-family: 'Roboto', sans-serif;
  color: #384242;
}

footer{
  background-color: #a0e6ff;
  color: #384242;
  font-size: 15px;
  padding: 10px;
  margin: 10px
}

.container {
    max-width: 75vw;
    margin: 22px auto;
}

.container2 {
  max-width: 65vw;
  margin: 22px auto;
}

h1 {
  background-color: #a0e6ff;
  border: 2px rounded #384242;
  border-radius: 10px;
  border-style: outset;
  font-size: 35px;
  color: #384242;
  text-shadow: 2px 2px 5px orange;
  padding: 30px;
  text-align: center;
}

#montagemcapa {
  max-width: 100%;
  border-radius: 15px;
}

.cordefundo {
  background-color: #EAFFFF;
}

#capa {
  background-color: #EAFFFF;
  border: 2px rounded #384242;
  border-radius: 10px;
  font-size: 50px;
  text-shadow: 2px 2px 5px orange;
  color: #384242;
  padding: 30px;
  text-align: center;
  }

nav > a {
  color: #384242;
  font-size: 20px;
  padding: 15px 30px;
  text-decoration: none;
  text-shadow: 2px 2px 5px #ff8d14;
  text-align: center;
  transition: all 0.3s;
}
nav > a:hover {
  background-color: #a0e6ff;
  border-radius: 10px;
  border-style: none;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  h2 {
    border: 2px rounded #384242;
    border-radius: 10px;
    background-color: #C3E6E6;
    font-size: 20px;
    color: #384242;
    padding: 15px;
    text-align: center;
}

p{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 150%;
  }

div {
  background-image: image ("capa.jpg");
  position: center;
  border-radius: 30px;
}

.fundotexto {
  background-color: #a0e6ff;
  border: 2px rounded #384242;
  border-radius: 10px;
  padding: 18px;
  margin: 0px 5px;

  color: #384242;
}

.fundotexto2 {
  background-color: #ffb365;
  border: 2px rounded #FFE6AB;
  border-radius: 10px;
  border-style: outset;
  padding: 15px;
  margin: 30px;
}

.botao {
  background-color: #ffb365;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  display:inline-block;
  color: #384242;
  font-size: 14px;
}

.flex {
  display: flex;
  align-items: center; /* alinha o conteúdo verticalmente*/
  justify-content: center; /* alinha o conteúdo horizontalmente*/
  height: 8vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
}

.grid-item2 {
  background-color: #a0e6ff;
  border-radius: 8px;
  border-style: outset;
  color: #424242;
  padding: 32px;
  height: 500px;
  overflow: hidden;
}

.grid-item {
  background-color: #a0e6ff;
  border-radius: 8px;
  border-style: outset;
  color: #424242;
  padding: 25px;
}

.gridfoto {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 300px;
}


.grid-item2 img {
object-fit: cover;
}
